{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css')}}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{%endblock %}
{% block content %}
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="container">

        {{wtf.quick_form(comment_form)}}

    </div>

    {% for comment in comment %}
     <p style="margin-left:10px;"><u>Comments:</u></p>
     <ul>
 <li><p>{{ comment.comment }}</p></li></ul>
    <a href="{{ url_for('main.delete_comment',id=comment.id)}}" style="margin-left: 10px;;" class="text-danger" title="Delete Post">
        <large><i class="fa fa-trash"></i></large>
    </a>
    {% endfor %}
</body>


{%endblock%}
